<div class="container">
    <div class="row row-content" ng-controller="DishDetailController">
        <div class="col-xs-12">
            <button class="btn btn-xs btn-primary pull-right" type="button" ui-sref="app.menu">
                Back to Menu
            </button>
            <ul class="media-list fade in">
                <li class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object img-thumbnail" ng-src={{dish.image}} alt="Uthappizza">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                         <span class="label label-danger">{{dish.label}}</span>
                         <span class="badge">{{dish.price | currency}}</span></h2>
                        <p>{{dish.description}}</p>

                    </div>
                </li>
            </ul>
        </div>
        <div class="col-xs-9 col-xs-offset-1">
            <div class="col-sm-12 row">
                <span class="col-sm-4">
                          <h4>Customer Comments</h4>
                        </span>
                <span class="col-sm-7 padTop">
                          <label for="sortInput">Sort Comments: </label>
                          <input type="text" placeholder="author, date, rating" ng-model="sortComments">
                        </span>
            </div>
            <div class="col-sm-12 row" ng-repeat="entry in dish.comments | orderBy: sortComments">
                <blockquote>
                    <h4>{{entry.rating}} Stars</h4>
                    <h4>{{entry.comment}}</h4>
                    <footer>{{entry.author}}, &nbsp;&nbsp;{{entry.date | date}}</footer>
                </blockquote>
            </div>
        </div>
        <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
            <ul class="list-unstyled">
                <span ng-show="commentForm.$valid && !commentForm.$pristine">
                    <blockquote>
                        <h4>{{newComments.rating}} Stars</h4>
                        <h4>{{newComments.comment}}</h4>
                        <footer>{{newComments.author}}, &nbsp;&nbsp;{{newComments.date | date}}</footer>
                    </blockquote>
                    </span>
            </ul>
            <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : commentForm.author.$error.required && !commentForm.author.$pristine }">
                    <label for="name" class="control-label">Name: </label>
                    <input type="text" class="form-control" name="author" id="author" placeholder="Enter Your Name" ng-model="newComments.author"
                    required />
                    <span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine" class="help-block">Your Name is required.</span>
                </div>
                <div class="form-group">
                    <label for="rating">Rating: </label>
                    <label for="ratings" class="control-label">1 </label>
                    <input type="radio" name="ratings" value="1" ng-model="newComments.rating">
                    <label for="ratings" class="control-label">2 </label>
                    <input type="radio" name="ratings" value="2" ng-model="newComments.rating">
                    <label for="ratings" class="control-label">3 </label>
                    <input type="radio" name="ratings" value="3" ng-model="newComments.rating">
                    <label for="ratings" class="control-label">4 </label>
                    <input type="radio" name="ratings" value="4" ng-model="newComments.rating">
                    <label for="ratings" class="control-label">5 </label>
                    <input type="radio" name="ratings" value="5" ng-model="newComments.rating">
                </div>
                <div class="form-group" ng-class="{ 'has-error' : commentForm.yourComment.$error.required && !commentForm.yourComment.$pristine }">
                    <label for="yourComment">Comment: </label>
                    <textarea id="yourComment" name="yourComment" class="form-control" ng-model="newComments.comment" required></textarea>
                    <span ng-show="commentForm.yourComment.$error.required && !commentForm.yourComment.$pristine" class="help-block">Your Comment is required.</span>
                </div>
                <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Add Comment</button>
            </form>
        </div>
    </div>